
    <div>
        <label for="title"  class="form-label">Title: </label>
        <input name="title" class="form-control"  type="text" value="<%= ticket.title %>" required>
    </div>

    <div>
        <label for="description"  class="form-label">Description: </label>
        <textarea name="description" class="form-control"  cols="30" rows="10" required><%= ticket.description %></textarea>
    </div>

    <DIV>
        <label for="state">Status: </label>
        <select name="state" id="">
            <option value="Open">Open</option>
            <option value="Close">Close</option>
        </select>
    </DIV>
    