<%- include('../partials/header') %>


<div class="card offset-md-3 col-md-6 mt-2">
    <h2 class="text-center">Edit Ticket</h2>
    
    <form action="/tickets/<%= ticket.id %>?_method=PUT"" method="post">
        <div class="card-body">
            <%- include('_form_fields') %>
        </div>
        <div class="card-footer text-end">
            <a href="/tickets/<%= ticket.id %>" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>