<h2>New Ticket</h2>

<form action="/tickets/new" method="post">

    <%- include('_form_fields') %> 

    <button type="submit"  class="btn btn-success btn-sm">Create</button>
    <a href="/tickets" class="btn btn-danger btn-sm">Cancel</a> 
</form> 