<h2 class="text-center">New Ticket</h2>

<form action="/tickets/new" method="post">

    <%- include('_form_fields') %> 

    <a href="/tickets" class="btn btn-danger btn-sm">Cancel</a> 
    <button type="submit"  class="btn btn-success btn-sm">Create</button>
</form> 