<div>
    <label for="name"  class="form-label">Name: </label>
    <input name="name" class="form-control"  type="text" value="<%= user.name %>">
</div>

<div>
    <label for="surname"  class="form-label">Surname: </label>
    <input name="surname" class="form-control"  type="text" value="<%= user.surname %>">
</div>

<div>
    <label for="title"  class="form-label">Title: </label>
    <input name="title" class="form-control"  type="text" value="<%= user.title %>">
</div>

<div>
    <label for="email"  class="form-label">Email: </label>
    <input name="email" class="form-control"  type="email" value="<%= user.email %>">
</div>

<div>
    <label for="password"  class="form-label">Password: <button class="passGenBtn btn btn-link">Generate password</button></label>
    <input name="password" class="form-control password-input"  type="text">
</div>
